#main-nav {
  margin: 10px 0px 10px 19em;
}
#vertical-nav {
  /* width : 120px, */
  margin-left: 0.5em;
}

.css-2b097c-container {
  display: inline-block;
  width: 250px;
  margin-left: 25px;
}

/* @font-face {
  font-family: Unicode;
  src: url(./fonts/Kalimati.ttf);
}

@font-face {
  font-family: preeti;
  src: url(./fonts/PREETI.TTF);
} */
